header {
    height: 200px;
}

header img {
    display: block;
    text-align: center;
    margin: auto;
}

body {
    background-image: url("../images/background2.jpg");
}

.formulario {
    display: block;
    margin: 0 auto;
    height: 1700px;
    margin-top: 100px;
}

.formulario h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    margin-bottom: 60px;
}

.formulario form {
    display: block;
    margin: auto;
    text-align: center;
    height: 1600px;
    width: 900px;
    font-weight: bold;
    font-family: monospace;
}

.formulario form label {
    font-size: 32px;
    font-family: monospace;
    color: rgb(255, 255, 255);
}

.formulario form input {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    width: 600px;
}

.formulario button {
    width: 80px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-color: rgb(46, 46, 46);
}

.formulario #addEmailButton {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
    border-style: solid;
    margin-top: 145px;
}

.formulario #removeEmailButton {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
    border-style: solid;
    margin-top: 298px;
}

.modCampos {
    float: right;
    margin-right: 450px;
}

.formulario form {
    width: 650px;
}

.formulario p {
    color: rgb(163, 157, 157);
    font-size: 20px;
}

.formulario input[type=date] {
    width: 150px;
}

.formulario input[type=file] {
    margin: auto;
    display: block;
    text-align: center;
    font-family: monospace;
    padding: 40px;
    color: rgb(255, 255, 255);
}