header {
    background-color: rgb(255, 97, 97);
    height: 200px;
}

.formulario {
    background-color: rgb(97, 97, 255);
    height: 800px;
}

.formulario h1 {
    text-align: center;
    padding-top: 40px;
}

.formulario form {
    margin: auto;
    text-align: center;
    height: 700px;
    width: 275px;
    background-color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario form input {
    margin-top: 20px;
    padding: 10px;
}

.formulario #addEmailButton {
    background-color: rgb(255, 255, 148);
    padding: 5px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    margin-top: 145px;
    cursor: pointer;
}

.formulario #removeEmailButton {
    background-color: rgb(255, 148, 148);
    padding: 5px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    margin-top: 145px;
    cursor: pointer;
}

.formulario #campoCorreo {
    margin-left: 62px;
}

.modCampos {
    float: right;
    height: 700px;
    width: 100px;
    background-color: rgb(124, 124, 124);
    margin-right: 706px;
}

.formulario p {
    color: rgb(163, 157, 157);
    font-size: 14px;
}