header {
    background-color: rgb(255, 97, 97);
    height: 200px;
}

.formulario {
    background-color: rgb(97, 97, 255);
    height: 800px;
}

.formulario h1 {
    text-align: center;
    padding-top: 40px;
}

.formulario form {
    margin: auto;
    text-align: center;
    height: 500px;
    width: 300px;
    background-color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario form input {
    margin-top: 20px;
    padding: 10px;
}

.formulario #buttonEmail {
    background-color: rgb(255, 255, 148);
    padding: 4px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    margin-top: 5px;
    margin-left: 65px;
}

.formulario #campoCorreo {
    margin-left: 62px;
}